/* font-familly : Monaco */
*{
    margin:0;
    padding:0;
    text-decoration: none;
}

/* untuk pickure */
.imageallaudi img{
    width: 100%;
    height:100%;
    position: relative;
}
body{
    background-image:linear-gradient(-90deg,rgb(14, 13, 13) 100%, #758b22 100%);
    margin:auto;
}

header{
    display:flex;
    z-index: 0;
    margin:0 auto;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    height:10vh;
    box-shadow: 0 6px 8px rebeccapurple;
}

.dreamcar p{
    margin:2.3vh 35px;
    font-size:35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    letter-spacing: 1px;
    color:gold;
}

.pcontainer p{
    padding:30vh;
    position: relative;
    font-size:35px;
    text-align:center;
    text-transform: uppercase;
    font-family:inherit;
    color:rgb(247, 2, 2);
}
.dreamcarheader li{
    font-size:20px;
    display:inline-block;
    margin:6.7vh 23px;
}
.dreamcarheader li:last-child{
    padding-right:15px;
}

.dreamcarheader a{
    text-decoration: none;
    color:gold;
}
.dreamcarheader a:hover{
    color:red;
}
.before-container{
    top:10px;
    position: relative;
}
.img-container{
    position: relative;
    height:80vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/showroom.jpeg)
}
.tengah{
    display:flex;
    flex-direction: column;
    margin:auto;
}
.tengah a{
    color:red;
}
.tengah a:hover{
    color:gold;
}
.tengah p{
    font-size:50px;
    color:red;
    font-family: fantasy;
    text-align: center;
    margin:70vh 0;
}
.logolamborghini{
    height:800px;
    width: 100%;
    background-size: cover;
    opacity: .8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-image: url(mobil/lamborghini/logolambo.jpg);
}
.logoferrari{
    width:100%;
    height:800px;
    background-size:cover;
    opacity: .8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/ferrari/Ferrari-symbol-640x460.jpg);
}
.logoaudi{
    height:800px;
    width:100%;
    background-size:cover;
    opacity: .8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/audi/wp1831047.jpg);
}
.logomercy{
    height:800px;
    width:100%;
    background-size:cover;
    opacity: .8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/mercedes-benz/logo-Mercedes-Benz.png);
}
.logoporsche{
    height:800px;
    width:100%;
    background-size:cover;
    opacity: .8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/porsche/porsche-normal.jpg);
}
.bawah{
    width: 75%;
    margin:0 auto;
    position: relative;
    top:2.5vh;
}
.bawah h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:gold;
    text-align: center;
    letter-spacing: 4px;
}
.bawah p{
    color:gold;
    font-size:25px;
    text-align: center;
}
footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
.foot p{
    padding:10px;
    font-size: 20px;
    text-align: left;
    margin:20px 10px;
    text-decoration: 0;
    color:gold;
    font-family: 'Courier New', Courier, monospace;
}
.footer li{
    margin:20px 20px;
    font-size: 25px;
    color:red;
    display:inline-block;
    letter-spacing: 4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer li:last-child{
    padding-right: 20px;
}
.footer a{
    color: green;
}
.footer a:hover{
    color:gold;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* Audi */


.pcontainer1 p{
    padding:10vh;
    position: relative;
    font-size:35px;
    text-align:center;
    font-family:inherit;
    color:red;
}
.dreamcarheader1 li{
    font-size:20px;
    display:inline-block;
    margin:6.7vh 23px;
}
.dreamcarheader1 li:last-child{
    padding-right:15px;
}

.dreamcarheader1 a{
    text-decoration: none;
    color:gold;
}
.dreamcarheader1 a:hover{
    color:red;
}
.before-container1{
    top:10px;
    position: relative;
}
.img-container1{
    position: relative;
    height:70vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/audi/wp1831047.jpg);
}
/* Style the top navigation bar */
.topnav {
    font-size: 25px;
    margin:10px 0;
    overflow: hidden;
    background-color: none;
    font-family: fantasy;
}
.topnav h3{
      margin:14px 0;
      color:gold;
      text-align:center;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* Ferrari */

  .img-container2{
    position: relative;
    height:70vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/ferrari/Ferrari-symbol-640x460.jpg);
  }

/*------------------------------------------------------------------------------------------------------------------------------*/
/* Lamborghini */


.img-container3{
    position: relative;
    height:70vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/lamborghini/logolambo.jpg);
  }


/*------------------------------------------------------------------------------------------------------------------------------*/
/* Lamborghini */


.img-container4{
    position: relative;
    height:70vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/mercedes-benz/logo-Mercedes-Benz.png);
  }

/*------------------------------------------------------------------------------------------------------------------------------*/
/* porsche */


.img-container5{
    position: relative;
    height:70vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    background-attachment: fixed;
    background-position: center;
    background-image: url(mobil/porsche/porsche-normal.jpg);
  }

/*------------------------------------------------------------------------------------------------------------------------------*/
  /* audi */

  .gambar{
    display:flex;
    flex-direction: column;
    margin :0 auto;
}
.gambar h1{
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
}
.gambar a{
    color:gold;
}
.gambar a:hover{
    color:red;
}
/* image untuk q3 */

.imgq3{
    width: 100%;
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-image: url(mobil/audi/audiq3/utamabg.jpg);
}
/* image untuk rs5 */
.imgrs5{
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 170px;
    background-repeat: no-repeat;
    background-image: url(mobil/audi/audirs5/utamabg.jpg);
}

/* image untuk r8 */
.imgr8{
    height: 250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 500px;
    background-repeat: no-repeat;
    background-image: url(mobil/audi/audiR8/utamabg.jpg);
}

/*------------------------------------------------------------------------------------------------------------------------------*/
  /* ferrari*/


  .img812 {
    width: 100%;
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-image: url(mobil/ferrari/812Superfast/utamabg.jpg);
}
/* image untuk 488 */
.img488{
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 200px;
    background-repeat: no-repeat;
    background-image: url(mobil/ferrari/488Spider/utamabg.jpg);
}

/* image untuk gtc */
.imggtc{
    height: 250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 600px;
    background-repeat: no-repeat;
    background-image: url(mobil/ferrari/GTC4LussoT/utamabg.jpg);
}

/*------------------------------------------------------------------------------------------------------------------------------*/
  /* lamborghini */


  .imghuracan {
    width: 100%;
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -150px;
    background-image: url(mobil/lamborghini/huracan/utamabg.jpeg);
}
/* image untuk urus */
.imgurus{
    width: 100%;
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-position-y: 170px;
    background-repeat: no-repeat;
    background-image: url(mobil/lamborghini/urus/3-lamborghini-urus-2019-rt-headlights.jpg);
}

/* image untuk aventador */
.imgaventador{
    width:100%;
    height: 250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-position-y: -350px;
    background-repeat: no-repeat;
    background-image: url(mobil/lamborghini/aventador/utamabg1.jpg);
}

/*------------------------------------------------------------------------------------------------------------------------------*/
  /* mercedes benz */


  .imgslc {
    width: 100%;
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-image: url(mobil/mercedes-benz/SLC-Class/utamabg.jpg);
}
/* image untuk 488 */
.imgsl{
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 200px;
    background-repeat: no-repeat;
    background-image: url(mobil/mercedes-benz/SL-Class/utamabg.jpg);
}

/* image untuk gtc */
.imgamg{
    height: 250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 500px;
    background-repeat: no-repeat;
    background-image: url(mobil/mercedes-benz/AMG-GT/utamabg.jpg);
}

/*------------------------------------------------------------------------------------------------------------------------------*/
  /* Porsche */


  .img911 {
    width: 100%;
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 450px;
    background-image: url(mobil/porsche/911/utamabg.jpg);
}
/* image untuk 488 */
.imgpanamera{
    height:250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 200px;
    background-repeat: no-repeat;
    background-image: url(mobil/porsche/panamera/utamabg.jpg);
}

/* image untuk gtc */
.img718{
    height: 250px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-image: url(mobil/porsche/718/utamabg.jpg);
}


/*------------------------------------------------------------------------------------------------------------------------------*/
  /* audiq3 */

  .img-containerq3{
    position: relative;
    height:50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .8;
    background-position: center;
    background-image: url(mobil/audi/audiq3/audi-q3-dashboard-view-377245.jpg);
    background-position-y: -150px;
}
.colomm{
    position: relative;
    margin:0 auto;
    height:650px;
    width:100%;
    font-family: fantasy;
    text-align: center;
    font-size: 15px;
    box-shadow: 0 2px 4px #758b22;
}
.colomm p{
    font-size: 20px;
}
/* membagi 2 colom pada audiq3.html */
.leftcolumn {   
    float: left;
    width: 50%;
    background-color: none;
    color:red;
  }
  .leftcolumn p{
      font-size: 40px;
  }
  
  /* Right column colom kanan */
  .rightcolumn {
    float: right;
    width: 50%;
    color:red;
    background-color: none;
    padding-left: 0;
  }
  .rightcolumn p{
      font-size: 40px;
  }
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*membuat table*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:gold;
    letter-spacing: 1px;
  }
  
  td, th {
    border: none;
    text-align: left;
    padding: 8px;
  }

  /* column kiri untuk image */
  .columnimg{
      float: left;
      width:100%;
      height:auto;
      display:flex;
      flex-direction: row;
      text-align: center;
      background-position: center;
  }
.imageleft{
    width:25%;
    background-color: none;
}
/* image midldle */
.imageright{
    width: 50%;
    background-color: none;
}
.imageright img{
    width:500px;
    height: 300px
}
.columnimg:after {
    content: "";
    display: table;
    clear: both;
  }

  .image{
      position: relative;
  }
  /* atur kelas bawah */

  .imgleftbottom{
      height:500px;
      background-color: none;
      color:red;
      font-size: 20px; 
  }
  .imagebtm{
      position: relative;
      text-align:center;
  }
  .imagebtm img{
      background-attachment: inherit;
      height:120px;
      width:200px;
  }
  .imagebtm li{
      padding:none;
      display:inline-block;
  }

  /*------------------------------------------------------------------------------------------------------------------------------*/
  /* audirs5 */

  .img-containerrs5{
    position: relative;
    height:50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .8;
    background-position: center;
    background-image: url(mobil/audi/audirs5/utamabg.jpg);
    background-position-y: -300px;
}
.pcontainerrs5 h1{
    text-align:center;
    padding:260px;
    font-size: 35px;
    color:red;
}
/*------------------------------------------------------------------------------------------------------------------------------*/
  /* audi r8 */

  .img-containerr8{
    position: relative;
    height:50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .8;
    background-position: center;
    background-image: url(mobil/audi/audiR8/utamabg.jpg);
    background-position-y: -100px;
}